html, body, {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
  
}
