html, body, div, p {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

group:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  width: 260px;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.tile {
  width: 20px;
  height: 20px;
  border: 3px;
  float: left;
  display:block;
  border-style: outset;
  background: #aaf;
}

.tile.revealed {
  border-style: inset;
  background: #aaa;
}
