<h1>Sign in</h1>
<form action="<%= session_url %>" method="post">
  <label>
    <input
      type="text"
      name="user[user_name]"
      id="user_user_name"
      value="<%= @user.user_name %>">User name
  </label>
  <br><br>
  <label>
    <input
      type="password"
      name="user[password]"
      id="user_password">Password
  </label>
  <br><br>
  <input type="submit" value="Log In">
</form>
