<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<h1>New User</h1>
<form action="<%= users_url  %>" method="post">
  <%= auth_token %>
  
  <%= render "/shared/form" %>

  <input type="submit" value="Sign up!">
</form>
