<label for="user_email">Email
  <input
    type="text"
    name="user[email]"
    id="user_email">
</label>

<label for="user_password">Password
  <input
    type="password"
    name="user[password]"
    id="user_password">
</label>
