<h1>Edit Band</h1>

<form action="<%= band_url(@band.id) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

<%= render "newedit" %>

  <input type="submit" value="confirm edit">
</form>

<br>
<a href="<%= bands_url %>"><< Back to bands</a>
