<h1>Edit Band</h1>

<form action="/bands/<%@band.id%>" method="get">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label for="band_name">Band Name
    <input type="text" name="band[name]">
  </label>

  <input type="submit" value="confirm edit">
</form>
