<h1>Add a new band</h1>
<form action="<%= bands_url %>" method="post">

  <label for="band_name">Band Name
    <input
      type="text"
      name="band[name]">
  </label>

  <input type="Submit" value="Submit">
</form>

<br>
<a href="<%= bands_url %>"><< Back to bands</a>
