/* PHASE 1: Header */

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
}

header {
  background: #f00;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;

}


header h1 {
  font-weight: 700;
  float: left;
  border-right: 1px solid #ccc;
}

header-nav {
  width: 900px;
  margin: auto;
  display: block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

header a {
  padding: 10px 20px;
  display: block;
}

header ul {
  float: right;
}

header li {
  float: left;
  border-left: 1px solid #ccc;
}
