/* PHASE 3: Layout */

.content {
  min-height: 200px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 900px;
  margin: auto;
}

.content-sidebar {
  height: 100%;
  float: left;
  width: 200px;
  padding: 20px;
}

.content-main {
  height: 100%;
  float: right;
  width: 620px;
  padding: 20px;
  background: blue;
}
