<!DOCTYPE html>
<html>
<head>
  <title>BnchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3t2hfUoM68EPV23xoC-0PkyDAaa-2vhY"
  type="text/javascript"></script>
<body>

<%= yield %>

</body>
</html>
