<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
</head>
<body>

<%= yield %>

<br><br>
  <% if signed_in? %>
    <form action="<%= session_url %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <%= auth_token %>
      <input type="Submit" value="Sign out">
    </form>
  <% end %>
</body>
</html>
